.sidebar {
  position: fixed;
  top: 48px;
  .home_left_sidebar_contianer {
    margin-top: 40px;
    padding: 0 16px;
    .sidebar_top {
      border-bottom: 1px solid rgba(9, 30, 66, 0.14);
      ul {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          background-color: #fff;
          border-radius: 4px;
          .disfl {
            display: flex;
            align-items: center;
            padding: 5px 0;
            .icon_w32 {
              width: 32px;
            }
            .w200 {
              text-align: left;
              width: 200px;
            }
          }
          &:hover {
            background-color: #dcdfe4;
          }
        }
      }
    }
    .sidebar_down {
      padding-top: 12px;
      padding-bottom: 40px;

      .add_work_space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        button {
          border: none;
          background-color: #fff;
          font-size: 16px;
          padding: 2px;
          &:hover {
            cursor: pointer;
            background-color: #dcdfe4;
          }
        }
      }
    }
  }
}
.slot_content {
  padding: 50px 80px;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  .fl_col {
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    border-radius: 4px;
    input {
      width: 500px;
      height: 45px;
      padding: 8px 12px;
      border: 2px solid gray;
      outline: none;
      border-radius: 3px;
      &:focus {
        border-color: #388bff;
        outline: none;
      }
    }
    textarea {
      resize: none;
      width: 500px;
      padding: 8px 12px;
      outline: none;
      border: 2px solid gray;
      border-radius: 3px;
      &:focus {
        border-color: #388bff;
        outline: none;
      }
    }
  }
  .close_add_work_space_dialog {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #ccc;
      border-radius: 5px;
    }
  }
  button {
    width: 500px;
    margin-top: 30px;
    background-color: #0055cc;
    padding: 6px 12px;
    line-height: 1.5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 85, 204, 0.8);
    }
  }
}
