* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #ffffff;
  width: 100%;
  top: 0;
  z-index: 100;
  .navbar {
    a {
      white-space: nowrap;
    }
    display: flex;
    padding: 8px;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid rgba(23, 43, 77, 0.16);
    .left {
      display: flex;
      flex-basis: 100%;
      a {
        padding: 4px 12px;
        border-radius: 5px;
        margin-left: 5px;
        text-decoration: none;
        color: #172b4d;
        &:hover {
          background-color: #dcdfe4;
        }
      }
      button {
        margin-left: 12px;
        padding: 6px 12px;
        background-color: #0055cc;
        white-space: nowrap;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 14px;
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      .search {
        position: relative;
        .search_icon {
          position: absolute;
          top: 8px;
          left: 8px;
          font-size: 16px;
        }
        input {
          padding: 0 12px 0 30px;
          height: 32px;
          line-height: 20px;
          width: 200px;
          border: 1px solid rgba(23, 43, 77, 0.16);
          border-radius: 5px;
          &:focus {
            outline: none;
          }
        }
      }
      .ja_center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a {
        padding: 4px 10px;
        border-radius: 5px;
        text-decoration: none;
        color: #172b4d;
        font-size: 18px;
        &:hover {
          background-color: #dcdfe4;
        }
      }
    }
  }
}

.home_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(100vh - 48px);
  text-align: center;
  .home_left_sidebar_contianer {
    margin-top: 40px;
    padding: 0 16px;
    .sidebar_top {
      border-bottom: 1px solid rgba(9, 30, 66, 0.14);
      ul {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          background-color: #fff;
          border-radius: 4px;
          .disfl {
            display: flex;
            align-items: center;
            padding: 5px 0;
            .icon_w32 {
              width: 32px;
            }
            .w200 {
              text-align: left;
              width: 200px;
            }
          }
          &:hover {
            background-color: #dcdfe4;
          }
        }
      }
    }
    .sidebar_down {
      padding-top: 12px;
      padding-bottom: 40px;
      .mt10 {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }
      .mt20 {
        list-style: none;
        margin-top: 20px;
        li {
          border-radius: 4px;
          margin-bottom: 4px;
          text-align: left;
          padding: 5px 0 5px 35px;
          .mr10 {
            margin-right: 10px;
          }
          &:hover {
            cursor: pointer;
            background-color: #dcdfe4;
          }
        }
        .posi_re {
          position: relative;
          .posi_ab {
            position: absolute;
            right: 10px;
          }
        }
      }
      .work_space {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        button {
          border: none;
          background-color: #fff;
          font-size: 16px;
          padding: 2px;
          &:hover {
            cursor: pointer;
            background-color: #dcdfe4;
          }
        }
      }
    }
  }
  .all_boards {
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 825px;
    min-width: 288px;
    width: 100%;
    .fl_start {
      display: flex;
      justify-content: flex-start;
      justify-items: center;
      padding: 10px 0;
      font-size: 16px;
      font-weight: 900;
      span:nth-child(1) {
        font-size: 24px;
      }
      span:nth-child(2) {
        margin-left: 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
      }
    }
    .recent_board_list {
      display: flex;
      list-style: none;
      justify-content: flex-start;
      .bimg_none {
        a.p8 {
          background-image: none;
          background-color: #f1f2f4;
          color: black;
          font-size: 14px;
          font-weight: normal;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .board_item {
        width: 23.5%;
        margin: 0 2% 2% 0;
        .p8 {
          display: block;
          padding: 8px;
          height: 100px;
          border-radius: 3px;
          // background-color: red;
          background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x270/52018f4f57d26d211138e8587df9820c/photo-1678971916523-0fe8cd6fc252.jpg);
          background-size: cover;
          text-align: left;
          color: #fff;
          font-weight: 580;
          font-size: 16px;
        }
      }
    }
    .your_workspace {
      padding-bottom: 20px;
      margin-top: 40px;
      .fl_start_fz16 {
        display: flex;
        justify-content: flex-start;
        font-weight: 900;
        font-size: 16px;
      }
      .fl_space_between {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .m_left_15 {
          margin-left: 15px;
          font-weight: bold;
          font-size: 16px;
        }
        .fl_start_list {
          list-style: none;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          li {
            padding: 5px 10px;

            background-color: #f1f2f4;
            margin-right: 5px;
            border-radius: 5px;
            &:last-child {
              margin-right: 0;
            }
            &:hover {
              cursor: pointer;
              background-color: #dcdfe4;
            }
            span {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
